.container {
    width: 300px;
    margin: 100px auto;
}

h2 {
    text-align: center;
}

input {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 5px;
}

button {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
}
